.sidebar_outer {
  @include positioning(fixed, 0, 0, 0, 0);
  @include margin(auto, auto, auto, auto);
  @include height_width(0, 0);
  z-index: 99999999;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;

  @supports (-webkit-touch-callout: none) {
    @include display(none);
  }

  &.sidebar_outer_active {
    @include height_width(100%, 100%);
    opacity: 1;
    visibility: visible;

    @supports (-webkit-touch-callout: none) {
      @include display(block);
    }

    @include media_query("480", "max") {
      overflow: hidden;
    }

    .close_sisebar_icon {
      @include display(block);
    }
  }

  .close_modal_inc {
    @include media_query("820", "max") {
      max-height: 10%;
      width: 100%;
      height: 10%;
      position: relative;
      @include display(block);

      &:after {
        content: "";
        cursor: pointer;
        background: url(../images/sprite.svg) -1px -381px/34px no-repeat;
        height: 35px;
        width: 35px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        @include display(block);

        @media screen and (max-width: 820px) and (orientation: landscape) {
          bottom: 0px;
        }
      }
    }
  }

  .inc_sidebar_modal_block {
    @include positioning(absolute, 0, 0, auto, auto);
    @include height_width(100%, 600px);
    transform: none;
    @include overflow(auto);
    min-height: 100%;
    background: $white;
    z-index: 999999;
    animation: slide 0.4s;
    -webkit-animation: slide 0.4s;
    -moz-animation: slide 0.4s;
    transition: 0.4s;
    overflow: auto;
    cursor: initial;

    @include media_query("820", "max") {
      @include height_width(fit-content, 100%);
      max-height: 90%;
      min-height: 90%;
      @include positioning(absolute, auto, 0, -200%, 0);
      animation: none;
      transition: none;
      scrollbar-width: thin;
      @include scrollbars(4px, 4px, 4px, #d2cbcb);
    }

    /*  @include media_query("480", "max") {
      min-height: 90%;
    } */
    @media only screen and (min-width: 412px) and (max-width: 767px) {
      transition: none;
    }

    @media screen and (max-width: 820px) and (orientation: landscape) {
      max-height: 90%;
      min-height: 90%;
    }

    @include media_query("420", "max") {
      max-height: 90%;
      min-height: 90%;
      max-height: -moz-fit-content;
      height: -moz-fit-content;
      min-height: -moz-fit-content;
      position: fixed;

      @supports (-webkit-touch-callout: none) {
        @include display(none);
      }
    }

    @include media_query("371", "max") {
      @include height_width(100%, 100%);
      min-height: 90%;
    }

    &.inc_active {
      @include positioning(absolute, 0, 0, 0, auto);
      background: #fff;

      @include media_query("820", "max") {
        @include positioning(absolute, auto, 0, 0, 0);
        @include overflow(auto);
        background: #fff;
      }

      @include media_query("420", "max") {
        position: absolute;

        @supports (-webkit-touch-callout: none) {
          @include display(block);
        }
      }
    }

    &.overflow_visible {
      overflow: visible !important;

      @include media_query("480", "max") {
        overflow: initial !important;
        @include scrollbars(2px, 2px, 2px, #d2cbcb);
      }
    }

    .inc_justerror {
      @include flexbox();
      @include align-items(center);
      justify-content: flex-start;
      margin: 10px;
      padding: 10px;
      line-height: 1.2em;
      font-size: 1.3rem;
      background: #fae5e5;
      color: #e02b27;
      position: relative;

      .errorimg {
        width: 30px;
        margin-right: 10px;
      }
    }

    .inc_sidebar_close {
      @include positioning(absolute, 7px, 7px, null, null);
      @extend %inc_Close_Icon;

      @include media_query("820", "max") {
        @include display(block);
      }
    }

    .inc_sidebar_modal_cart_and_title_block {
      padding: 28px 24px 0px 24px;
      @include flexbox();
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      background: $bg_primary_color_1;

      @include media_query("820", "max") {
        display: inline-block;
        width: 100%;
        padding: 15px 0 0 0;
      }
    }

    .inc_sidebar_cart_added_block {
      flex-basis: auto;
      position: static;
      margin-right: 3px;
      max-width: 95%;
      width: 95%;
      //margin-bottom: 6px;

      @include media_query("1398", "max") {
        margin-bottom: 5px;
      }

      @include media_query("820", "max") {
        max-width: 100%;
        width: 100%;
        padding-left: 15px;
      }

      .inc_cart_added_list_block {
        @include flexbox();
        @include align-items(center);
        overflow: auto;
        overflow-y: hidden;
        transition: 0.3s;
        @include scrollbars(4px, 4px, 4px, #cfcfcf);
        scrollbar-width: thin;
        //padding-bottom: 20px;
        max-width: 100%;
        //height: 105px;

        @media screen and (max-width: 960px) {
          &::-webkit-scrollbar-thumb {
            background-color: #00000080;
            border-radius: 10px;
            border: 2px solid #cfcfcf;
          }
        }

        @include media_query("820", "max") {
          padding-bottom: 8px;
          scrollbar-width: none;
          max-width: 100%;
          height: 105px;
          @include scrollbars(auto, auto, auto, auto);
        }

        .inc_cart_added_product_block {
          @include flexbox();
          @include align-items(center);
          margin-right: 12px;
          flex-direction: column-reverse;
          cursor: pointer;
          border: 5px solid #fff;
          @include media_query("820", "max") {
            min-width: auto;
            margin-right: 10px;
          }
          &:nth-of-type(1){
            .inc_cart_added_product_desc_block{
              &:before{
                left: 30px;
              }
            }
          }
          &:nth-of-type(2){
            .inc_cart_added_product_desc_block{
              &:before{
                left: 31%;
                @include media_query("820", "max") {
                  left: 165px;
                }
              }
            }
          }
          &:nth-of-type(3){
            .inc_cart_added_product_desc_block{
              &:before{
                left: 53%;
                @include media_query("820", "max") {
                  left: 282px;
                }
              }
            }
          }
          .sidebar_product_quantity_label {
            @include display(none);
          }

          .inc_cart_added_product_img_block {
            height: 100px;
            width: auto;
            min-width: 100px;
            max-width: 100px;
            @include justify-content(center);
            @include flexbox();
            @include align-items(center);
            background: #ffffff;
            //padding: 2px;
            //box-shadow: 0px 2px 2px rgba(201, 201, 201, 0.4);

            .inc_cart_added_product_img {
              height: 100%;
              position: relative;
              width: 100%;

              img {
                @include height_width(100%, 100%);
                object-fit: contain;
              }
            }
          }

          .inc_cart_added_product_desc_block {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease-in-out;
            background-color: #ffffff;
            z-index: 9999;
            left: 1%;
            width: 91%;
            display: flex !important;
            @include align-items(center);
            flex-direction: column;
            margin: 1.15446rem;
            top: 179px;
            height: auto;
            align-items: flex-start;
            padding: 16px;
            border-radius: 2px;
            box-shadow: 0 1px 1px #dcdcdc;
            &:before{
              position: absolute;
              border-right: 8px solid transparent;
              border-left: 8px solid transparent;
              border-bottom: 15px solid #fff;
              top: -14px;
              content: '';
              width: 3px;
              display: inline-block;
              z-index: 10;
            }
            @include media_query("820", "max") {
              top: 161px;
              left: 0%;
              width: 92%;
            }

            .inc_cart_added_product_desc_title_block {
              padding: 0 0 4px;
              order: 1;
              color: $text_color_3;
              text-align: left;
              font-family: $font-family-primary;
              font-size: 14px;
              line-height: 18px;
              font-weight: 500;

              .inc_cart_added_product_desc_title_text {
                span {
                  text-transform: lowercase;
                  margin-left: -2px;
                }
              }
            }

            .inc_cart_added_product_desc_att_block {
              display: none;
            }

            .inc_cart_added_product_desc_ecirp_block {
              order: 2;
              position: relative;
              padding-left: 52px;
              display: flex;
              flex-direction: row;

              &::before {
                content: "Price: ";
                margin-right: 2px;
                color: $text_color_1;
                font-family: $font-family-primary;
                font-size: 16px;
                line-height: 23px;
                font-weight: 400;
                position: absolute;
                top: -1px;
                left: 0;
              }

              .inc_cart_added_product_desc_ecirp_active_block {
                .inc_cart_added_product_desc_ecirp_active_text_block{
                  .inc_cart_added_product_desc_ecirp_active_text{
                    color: $primary_color_2;
                    font-family: $font-family-primary;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 700;
                    span{
                     display: none;
                    }
                    &.inc_cart_added_product_desc_ecirp_active_text_exc{
                      display: none;
                    }
                  }
                }
              }

              .inc_cart_added_product_desc_ecirp_regular_block {
                .inc_cart_added_product_desc_ecirp_regular_text_block {
                  .inc_cart_added_product_desc_ecirp_regular_text {
                    color: $text_color_1;
                    font-family: $font-family-primary;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 23px;
                  }
                }
              }

              &.is_special_ecirp {
                .inc_cart_added_product_desc_ecirp_active_block {
                  .inc_cart_added_product_desc_ecirp_active_text_block {
                    .inc_cart_added_product_desc_ecirp_active_text {
                      color: $text_color_3;
                      margin-right: 6px;
                    }
                  }
                }
              }
            }

            .inc_cart_added_product_delivery_block {
              display: none;
            }
          }

          &:hover {
            .inc_cart_added_product_desc_block {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      .inc_cart_product_count_block {
        position: absolute;
        right: 65px;
        bottom: 26px;
        font-size: 14px;
        left: auto;
        cursor: pointer;

        a {
          color: $black;
        }
      }
    }

    .inc_sidebar_header_block {
      flex-basis: 50%;
      align-self: flex-start;
      margin-bottom: 15px;
      margin-top: 15px;
      @include media_query("820", "max") {
        align-self: auto;
        margin-bottom: 0px;
        padding-left: 15px;
      }

      .inc_header_continue_block {
        position: absolute;
        right: 24px;
        top: 23px;
        left: auto;
        bottom: auto;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

        @include media_query("820", "max") {
          position: absolute;
          right: 0px;
          top: 0px;
          left: auto;
          bottom: auto;
          width: 100%;
          height: unset;
          background: transparent;
        }

        .inc_header_continue_img_block {
          height: 32px;
          width: 32px;
          background: url("../images/sprite.svg") -2px -324px / 34px no-repeat;
          cursor: pointer;

          @include media_query("820", "max") {
            @include display(none);
          }
        }

        .inc_header_continue_text_block {
          @include display(none);
        }
      }

      .inc_header_item_block {
        .inc_header_item_count_block {
          @include flexbox();
          @include flex-direction(row);
          align-items: center;

          @include media_query("820", "max") {
            margin: 10px 0 6px 0;
            align-items: center;
          }

          .inc_header_item_count_title_text {
            padding: 0px;
            color: $text_color_1;
            font-family: $font-family-primary;
            font-size: 14px;
            line-height: 19px;
            font-weight: 400;
          }
        }

        .inc_cart_added_product_desc_subtotal_ecirp_block {
          @include flexbox();
          @include align-items(flex-start);
          @include flex-direction(row-reverse);
          @include justify-content(flex-start);
          align-items: center;
          padding-left: 7px;

          .inc_cart_added_product_desc_subtotal_ecirp_active_block{
            .inc_cart_added_product_desc_subtotal_ecirp_active_text_block{
              .inc_cart_added_product_desc_subtotal_ecirp_active_text {
                color: $primary_color_2 !important;
                font-family: $font-family-primary;
                font-size: 28px;
                line-height: 35px;
                font-weight: 700;
              }
    
              
            }
            
          }
          .inc_cart_added_product_desc_subtotal_ecirp_regular_block {
            .inc_cart_added_product_desc_subtotal_ecirp_regular_text_block{
              .inc_cart_added_product_desc_subtotal_ecirp_regular_text{
                color: $text_color_4;
                font-family: $font-family-primary;
                font-size: 15px;
                line-height: 16px;
                font-weight: 500;
                margin-right: 8px;
                text-decoration: line-through;
              }
            }
          }

          .inc_just_added_save_pr {
            @include display(none);
          }
        }
      }
    }

    .inc_header_title_block {
      @include flexbox();
      @include align-items(center);
      padding: 0 0 20px;
      flex-basis: 100%;

      @include media_query("820", "max") {
        padding: 10px 0 16px 15px;
        @include display(block);
      }

      .inc_header_title_text_block {
        .inc_header_title_text {
          position: relative;
          @include flexbox();
          @include align-items(center);
          color: $text_color_1;
          font-family: $font-family-primary;
          font-size: 15px;
          line-height: 17px;
          font-weight: 400;
          
          @include media_query("820", "max"){
            font-weight: 700;
          }

          &:before {
            content: "";
            background: url("../images/sprite.svg") -7px -445px / 34px no-repeat;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 8px;
          }
        }
      }
    }

    .inc_sidebar_recommended_block {
      .inc_recommended_title_block {
        padding: 32px 0;
        @include media_query("820", "max"){
          padding: 25px 0;
        }

        .inc_recommended_title_text_block {
          .inc_recommended_title_text {
            text-align: center;
            color: $text_color_1;
            font-family: $font-family-primary;
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
          }
        }
      }

      .inc_recommended_tabs_block {
        background: $white;
        position: relative;
        border-bottom: 2px solid $border_color_2;

        .inc_recommended_tabs_list_block {
          @include flexbox();

          &::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: #f5f5f5;
          }

          &::-webkit-scrollbar {
            width: 6px;
            height: 8px;
            background-color: #f5f5f5;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #eeeeee;
          }

          scrollbar-width: thin;
          overflow: auto;
          padding-bottom: 0;
          margin: 0px 0px 0px 24px;
          outline: none;

          @include media_query("820", "max") {
            position: relative;
            margin: 0 20px;
          }

          .inc_recommended_tabs_list_item_block {
            width: auto;
            min-width: fit-content;
            min-width: -moz-fit-content;
            text-align: center;
            white-space: nowrap;
            word-break: keep-all;
            cursor: pointer;
            border: none;
            padding-bottom: 8px;
            margin-right: 40px;
            position: relative;
            z-index: 2;
            color: $text_color_1;
            font-family: $font-family-primary;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-transform: capitalize;

            &.inc_active {
              border-bottom: 2px solid $primary_color_3;
              font-weight: 600; 
              color: $primary_color_3;
            }
          }
        }
      }

      .inc_recommended_products_block {
        margin: 0;
        position: relative;
        background: #fff;
        padding: 32px 0 0 0;
        @include flexbox();
        @include justify-content(center);

        @include media_query("820", "max") {
          margin: 0;
          padding: 20px 0px 0;
        }

        @media only screen and (max-width: 769px) and (orientation: landscape) {
          padding-bottom: 35px;
        }

        .inc_recommended_products_left_block {
          @include display(none);
        }

        .inc_recommended_products_list_main_block {
          @include flexbox();
          @include overflow(hidden);
          max-width: 92%;
          width: 92%;

          @include media_query("820", "max") {
            max-width: 95%;
            margin: 0 auto;
          }

          @include media_query("376", "max") {
            max-width: 98%;
          }

          .inc_recommended_products_list_block {
            @include flexbox();
            flex-wrap: wrap;
            width: 100%;
            margin: 0 auto 20px !important;
            outline: none;

            @include media_query("820", "max") {
              justify-content: flex-start;
            }

            @include media_query("480", "max") {
              justify-content: space-between;
            }

            @include media_query("371", "max") {
              @supports (-webkit-touch-callout: none) {
                padding-bottom: 40px;
              }
            }

            .inc_product_module_block {
              width: 48%;
              margin: 0 20px 20px 0;

              &:nth-child(even) {
                margin-right: 0;
              }

              @include media_query("820", "max") {
                width: 33.3%;
                margin-right: 0px;
              }

              @include media_query("660", "max") {
                width: 50%;
                margin-right: 0;
              }

              .inc_product_showcase_block {
                min-width: auto;

                .inc_product_block {
                  width: 100% !important;

                  @include media_query("820", "max") {
                    min-width: 100%;
                    max-width: 100%;
                    width: 100% !important;
                    margin-bottom: 10px;
                    margin: auto 0px 0 0 !important;
                    padding: 15px;
                  }

                  .inc_product_info_main_block {
                    @include display(block);
                    width: 100%;
                  }

                  .inc_product_img_block {
                    @include flex-basis(45%);
                    padding: 0;
                    @include media_query("820", "max") {
                      @include flex-basis(35%);
                      padding: 0;
                    }

                    .inc_product_img_main_block {
                      @include media_query("820", "max") {
                        height: 100%;
                      }

                      .inc_product_img_main_img {
                        height: 260px;
                        @include media_query("820", "max") {
                          width: 100%;
                          min-width: 100%;
                          max-width: 100%;
                          margin: 0;
                          height: 200px;
                        }
                      }
                    }

                    .inc_product_img_gallery_block {
                      @include display(none);
                    }
                  }

                  .inc_product_desc_block {
                    @include media_query("820", "max"){
                      padding: 0;
                    }
                    .inc_product_cart_message{
                      display: block;
                      width: 100%;
                      color: $primary_color_2;
                      text-align: center;
                      font-family: $font-family-primary;
                      font-size: 12px;
                      font-weight: 400;
                      line-height: normal;
                      margin-top: 8px;
                      min-height: 15px;
                      max-height: 15px;
                    }
                    .pc_promo_div.avail{
                      left:16px;
                      top:0;
                    }
                    .inc_product_desc_title_block {
                      .inc_product_desc_title_text_block {
                        .inc_product_desc_title_text {
                          a {
                           text-align: left;
                            div {
                              @include media_query("820", "max") {
                                -webkit-line-clamp: 3;
                              }
                            }
                          }
                        }
                      }
                    }
                    .inc_product_desc_ecirp_block{
                      
                    }
                    .inc_product_desc_ratings_block {
                      justify-content: flex-end;
                      .rating_count{
                        @include media_query("820", "max"){
                          font-size: 12px;
                        }
                        @include media_query("420", "max"){
                          font-size: 10px;
                        }
                        @include media_query("361", "max"){
                          font-size: 9px;
                          top: -1px;
                          position: relative;
                        }
                      }
                    }

                    .inc_product_desc_qty_add_btn_block {
                      flex-wrap: wrap;

                      .inc_product_desc_add_block {
                        @include display(none);
                      }

                      &.simple.added_inc, &.configurable.added_inc{
                        .inc_product_qty_block{
                          display: none;
                        }
                        .inc_product_add_block{
                          opacity: 1;
                          z-index: 1;
                          visibility: visible;
                        }
                      }

                      &.simple {
                          .inc_product_qty_block {
                        
                          @include media_query("820", "max"){
                            display:none;
                          }
                        }
                      }
                      //     margin-bottom: 10px;
                      //     }
                      //     .inc_product_qty_down_block{
                      //       width: 24px;
                      //       height: 24px;
                      //       .inc_product_qty_down_btn_block{
                      //         .inc_product_qty_down_btn{
                      //           background: url(../images/sprite.svg) -3px -132px / 30px no-repeat;
                      //         }
                      //       }
                      //     }
                      //     .inc_product_qty_input_block{
                      //       width: 32px;
                      //       height: 32px;
                      //       .inc_product_qty_input_text_block{
                      //         .inc_product_qty_input_text{
                      //           input{
                      //             min-width: 32px;
                      //             max-width: 32px;
                      //             height: 32px;
                      //           }
                      //         }
                      //       }
                      //     }
                      //     .inc_product_qty_up_block{
                      //       .inc_product_qty_up_btn_block{
                      //         width: 24px;
                      //         height: 24px;
                      //         .inc_product_qty_up_btn{
                      //           background: url(../images/sprite.svg) -3px -172px / 30px no-repeat;
                      //         }
                      //       }

                      //     }
                      //   }

                      .inc_product_add_block {
                        display:block;
                      }
                      //     background: $primary_color_3;
                      //     width: auto;
                      //     min-width: 140px;
                      //     flex-basis: auto;
                      //     border: none;

                      //     @include media_query("820", "max") {
                      //       display: block;
                      //       min-width: max-content;
                      //     }

                      //     .inc_product_add_text {
                      //       padding: 0 10px;
                      //       max-height: max-content;
                      //       min-height: 50px;
                      //       font-size: 14px;
                      //       color: $white;

                      //       @include media_query("820", "max") {
                      //         padding: 0 5px;
                      //       }

                      //       @include media_query("376", "max") {
                      //         font-size: 12px;
                      //       }
                      //     }

                      //     &:hover {
                      //       background: #cb7409;
                      //     }
                      //   }
                      // }

                      .inc_product_add_collection_block.collection_show {
                        display: block !important
                      }
                    }

                    .inc_product_desc_ecirp_block {
                      justify-content: flex-end;
                      .inc_product_desc_ecirp_active_text {
                        @include media_query("400", "max") {
                          font-size: 14px;
                        }
                      }
                    }

                    .inc_product_desc_att_details_block {
                      .inc_product_variant_simple_block {
                        .inc_product_variant_simple_text {
                          @include media_query("700", "max") {
                            font-size: 14px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .inc_product_modal_block {
                .btn-disable-modal {
                  display: none !important;
                }
              }
            }
          }
        }

        .inc_recommended_products_right_block {
          @include display(none);
        }

        .inc_recommended_products_item_thumb_block {
          @include display(none);
        }
      }
    }

    .inc_sidebar_checkout_block {
      @include flexbox();
      @include justify-content(center); 
      @include align-items(center);
      @include justify-content(space-between);
      margin: 0px;
      @include positioning(relative, auto, 0, 0, auto);
      background: $bg_primary_color_1;
      padding: 0px 24px 24px;

      @include media_query("820", "max") {
        max-width: 100%;
        box-shadow: none;
        border-top: 0px;
        padding: 5px 0 20px;
        position: relative;
        z-index: -1;
      }

      .inc_checkout_continue_block {
        width: 48%;

        @include media_query("820", "max") {
          @include display(none);
        }

        .inc_checkout_continue_btn_block {
          height: 56px;
          min-width: 100%;
          border-radius: 4px;
          border: 1px solid $primary_color_3;
          background: $white;
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          cursor: pointer;
          position: relative;
          transition: all 0.3s ease;

          .inc_checkout_continue_btn_text {
            text-decoration: none;
            white-space: nowrap;
            transition: all 0.3s ease;
            text-align: center;
            color: $primary_color_3;
            font-family: $font-family-primary;
            font-size: 14px;
            line-height: 36px;
            font-weight: 700;
            letter-spacing: 0.1px;
            text-transform: capitalize;
          }

          &:hover {
            background: $primary_color_3;
            border: 1px solid $primary_color_3;
            .inc_checkout_continue_btn_text{
              color: $white;
            }
          }
        }
      }

      .inc_checkout_basket_block {
        width: 48%;

        @include media_query("820", "max") {
          width: 100%;    
          margin: 0 16px;
        }

        .inc_checkout_basket_btn_block {
          min-width: 100%;
          height: 56px;
          border: 1px solid $primary_color_3;
          background:  #187090;
          border-radius: 4px;
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          cursor: pointer;
          position: relative;
          transition: all 0.3s ease;

          .inc_checkout_basket_btn_img_block {
            @include display(none);
          }

          .inc_checkout_basket_btn_text_block {
            .inc_checkout_basket_btn_text {
              a {
                text-decoration: none;
                @include height_width(100%, 100%);

                div {
                  white-space: nowrap;
                  color: $white;
                  text-align: center;
                  font-family: $font-family-primary;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 36px;
                  letter-spacing: 0.1px;
                  //transition: all 0.3s ease;
                }
              }
            }
          }

          &:hover {
            background:$primary_color_3;
          }
        }
      }
    }
  }

  .inc_product_modal_block .inc_product_block .inc_product_info_main_block .inc_product_desc_block .inc_product_desc_qty_add_btn_block .inc_product_add_collection_block.collection_show {
    display: flex;
  }
}

.inc_sidebar_modal_block.active .inc_sidebar_checkout_block {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 0;
  left: auto;
  z-index: 999;

  @include media_query("820", "max") {
    position: relative;
  }
}

.close_sisebar_icon {
  @include display(none);
}

.inc_sidebar_overlay_block {
  @include height_width(100%, 100%);
  @include positioning(fixed, 0, 0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  @include margin(auto, auto, auto, auto);
  z-index: 999;
  touch-action: none;
  @include display(none);

  @include media_query("820", "max") {
    z-index: 99999;
  }
}

.btn-disable-modal {
  position: absolute;
  right: 10px;
  top: 30px;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-o-keyframes slide {
  0% {
    -o-transform: translateX(100%);
  }

  100% {
    -o-transform: translateX(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.inc_popup_open {
  .inc_sidebar_modal_block {
    overflow: hidden !important;
  }
}